<!DOCTYPE html>
<!--https://egghead.io/lessons/angularjs-angular-material-containers-with-the-layout-api-->
<html ng-app="Admin" ng-cloak>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/angular-material/angular-material.css">
    <link rel="stylesheet" href="css/app.css">
    <style>
        .color1{background: lightblue;}
        .color2{background: lightgreen;}
    </style>

</head>
    <body class="main-bg" ng-controller="MainCtrl" ng-cloak layout="column">
        <md-toolbar layout="row">
            <md-button ng-click="toggleList()" hide-gt-sm aria-label="Menu">
                <md-icon md-svg-src="img/icons/android.svg"></md-icon>
            </md-button>
            <h3>App</h3>
            <md-button aria-label="Config" ng-click="toggleConfig()">
                <md-icon md-svg-src="img/icons/android.svg"></md-icon>
            </md-button>
        </md-toolbar>
        <div layout="row" class="container" flex>
            <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-4dp" md-component-id="left">
                <md-list ng-click="toggleList()">
                    <md-list-item>
                        <md-button>
                            <md-icon md-svg-src="img/icons/android.svg" class="avatar"></md-icon>
                            Avatar Android
                        </md-button>
                    </md-list-item>
                    <md-list-item>
                        <md-button>
                            <md-icon md-svg-src="img/icons/angular-logo.svg" class="avatar"></md-icon>
                            Avatar Angular
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-sidenav>
            <md-content id="content" flex>

                <md-icon md-svg-src="img/icons/angular-logo.svg" class="avatar"></md-icon>
                <h2>Avatar Angular</h2>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>

            </md-content>
            <md-sidenav md-is-locked-open="false" class="md-whiteframe-4dp md-sidenav-right" md-component-id="config">
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="one">
                            <md-content class="md-padding">
                                <h1 class="md-display-2">Tab One</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                            </md-content>
                        </md-tab>
                        <md-tab label="two">
                            <md-content class="md-padding">
                                <h1 class="md-display-2">Tab Two</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                                <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                            </md-content>
                        </md-tab>
                        <md-tab label="three">
                            <md-content class="md-padding">
                                <h1 class="md-display-2">Tab Three</h1>
                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </md-sidenav>

        </div>



    <script src="/angular/angular.min.js"></script>
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/angular-aria/angular-aria.min.js"></script>
    <script src="/angular-material/angular-material.js"></script>
    <script src="App/Controller/MainCtrl.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script>

        var App = angular.module('Admin', ['ngMaterial']);
        App.config(function($mdIconProvider) {
            $mdIconProvider
                    .iconSet("call", 'img/icons/sets/communication-icons.svg', 24)
                    .iconSet("social", 'img/icons/sets/social-icons.svg', 24);
        });
        App.controller('MainCtrl', MainCtrl);

    </script>


</body>
</html>